---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

<main id="content" class="main-content" role="main">
  {{ content }}

  <!-- Create a loop// This allows for multiples (like a list) -->
  {% for block in site.data.news.story %}
  <div class="cards">
    <div class="card">
      <div class="pic">
        <img src="{{block.image}}" alt="{{block.image-alt}}">
      </div>
      <div class="content">
        <h3 class="title">{{block.title}}</h3>
        <h4>{{block.subtitle}}</h4>
      <p>{{block.story-content}}</p>
      <p><a href="{{block.tag-link}}">{{block.tag}}</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- End of loop -->